/web/bundles/
/web/media/icon/*
/web/media/thumb/*
/web/media/*
/web/css/
/web/js/
/web/app_dev.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
*~
/nbproject/
*.DS_Store
.elasticbeanstalk/
